/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: 'MyIcon';
  /* src: url('../icon/myicons.woff') format('woff'); */
  /* src: url('../../../resources/css/icon/myicons.woff') format('woff'); */
  src: url('@@/css/icon/myicons.woff') format('woff');
  /* src: url('./myicons.woff') format('woff'); */
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: MyIcon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-light:before {
  content: "\f11c"
}
.icon-dark:before {
  content: "\f109"
}

/* @layer base {
} */
/* button.icon {
  @apply mr-1 inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 border border-input bg-background shadow-sm hover:bg-accent hover:text-accent-foreground h-9 w-9
} */


/* body {
  @apply border border-2 border-red-500
} */

/* .button.icn {
  @apply border border-2 top-0 left-0 h-full w-full z-50 absolute bg-[rgba(0,0,0,0.5)]
} */
/* @utility components {
} */