@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* @import "../icon/myicon.css" */

/* Aktifkan dark mode berbasis class `.dark` */
/* @variant dark (&:where(.dark, .dark *)); */
/* @media (prefers-color-scheme: dark) {
  .bg-base {
    background-color: var(--color-background-dark);
  }
  .text-base {
    color: var(--color-text-dark);
  }
} */
@variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where(.dark, .dark *));

/* (Opsional) definisi theme custom */
/* @theme {
  --color-background: white;
  --color-background-dark: black;
  --color-text: black;
  --color-text-dark: white;
} */

/* Bisa juga bikin helper pakai var */
/* .bg-base {
  background-color: var(--color-background);
}
.dark .bg-base {
  background-color: var(--color-background-dark);
}

.text-base {
  color: var(--color-text);
}
.dark .text-base {
  color: var(--color-text-dark);
} */


@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}